* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    list-style-type: none;
}

html, body, #react-root {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.content-wrapper>.sidebar {
    flex: 0;
    background: #1A1D24;
    align-self: stretch;
    height: 100%;
    max-width: 500px;
    padding: 0.5em;
}
.main-content > h2 {
    margin: 0.2em 0.25em;
}

.content-wrapper>.main-content {
    flex: 1;
}

.navbar-brand {
    padding: 18px 20px;
    display: inline-block;
}