.landscape-title {
  color: white;
  text-align: center;
  margin-bottom: 0.1em;
  margin-top: -0.1em;
  border-radius: 6px;
  letter-spacing: 0.5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.landscape-card {
  cursor: pointer;
  box-sizing: border-box;
  background-color: #1A1D24;
  width: 30%;
  transition: 0.3s;
  margin: 0.5rem;
  border: 2px solid rgb(34, 51, 59);
  border-radius: 12px;
  overflow: hidden;
}

.landscape-card:hover {
  box-shadow: 0 0 8px 6px rgba(52,195,255,0.5);
}

